:root {
    --primary-color: #248888;
    --secondary-color: #79c04d;
    --text-color: #333;
    --red-color: #FF2E4C;
    --text-white: white;
    --text-dark: #001C1C;
    --dark-gray: #023131;
    --yellow-color: #f7c015;
    --dark-yellow: #deb45e;
    --bg-dark: #453e34;
    --bg-gray: #607282;
    --bg-card: #F0F6F6;

}